.chat {
    width: 60%;
    margin: 2% auto 0;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px #f1f1f1;
}

.chat > * {
    width: 100%;
    padding: 1%;
    border: 1px solid #000;
}

header {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.message-list {
    height: 400px;
    margin: 10px 0;
    overflow-y: scroll;
}

.message {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.message:nth-child(even) {
    background-color: #f9f9f9;
}

.message:last-child {
    margin-bottom: 0;
}

.my {
    margin-left: auto;
}

.my:hover .symbol-update {
    display: inline;
}

.message .avatar {
    width: 50px;
    margin-right: 10px;
}

.message .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-indent: 20px;
    text-align: justify;
}

.message .text {
    margin-bottom: 5px;
}

.message .meta-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.message .like {
    user-select: none;
}

.message .symbol {
    cursor: pointer;
}

.message .symbol:hover {
    color: orange;
}

.message .date {
    font-size: 12px;
}

.message-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-input textarea {
    width: 80%;
    min-height: 70px;
    resize: none;
}

.message-input .send {
    display: block;
    height: 100%;
    padding: 2%;
    cursor: pointer;
}

.message-input .send:hover .send-symbol {
    color: orange;
}

.message-input .send-symbol {
    font-size: 16px;
    
}

.modal {
    transform: translateY(-50%);
    width: 50%;
}

.modal button {
    width: 15%;
}

.styles_closeIcon__1QwbI {
    position: absolute;
    top: -15px;
    right: -15px;
}

.symbol-update {
    display: none;
}