.overlay {
    background-color: #f9f9f9;
}

.messageEditor {
    margin-top: 15px;
}

.messageEditor textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.modal .confirm {
    display: block;
    width: 25%;
    margin: 0px 0 0 auto;
    padding: 2%;
    border: 1px solid silver;
    background-color: #fff;
    cursor: pointer;
    transition: background-color .5s;
}

.modal .confirm:hover {
    background-color: aqua;
}