.overlay {
    background-color: #f9f9f9;
}

.modal {
    width: 30%;
    margin-top: 15%;
}

.userEditor .item {
    margin-bottom: 5px;
}

.userEditor label {
    text-transform: capitalize;
}

.userEditor label:last-child {
    margin-bottom: 0;
}

.userEditor div span {
    display: block;
    text-transform: capitalize;
    cursor: pointer;
}

.userEditor div input {
    width: 100%;
    height: 35px;
    font-family: 'Nunito', sans-serif;
}

.userEditor div input:focus {
    background-color: #f9f9f9;
}

.modal .confirm {
    display: block;
    width: 25%;
    margin: 10px 0 0 auto;
    padding: 2%;
    border: 1px solid silver;
    background-color: #fff;
    cursor: pointer;
    transition: background-color .5s;
}

.modal .confirm:hover {
    background-color: aqua;
}