.user-list-wrap {
    position: relative;
}

.user-list-wrap .btn {
    padding: 10px;
    cursor: pointer;
}

.user-list {
    width: 50%;
    margin: 1% auto 0;
    padding: 1%;
    box-shadow: 0px 0px 15px silver;
    border-radius: 4px;
    list-style-type: none;
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.user:nth-child(even) {
    background-color: #f9f9f9;
}

.user-props {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.user-props span {
    padding: 10px;
    background-color: aqua;
    border: 1px solid silver;
    font-style: italic;
}

.user-settings {
    width: 30%;
    display: flex;
    justify-content: center;
}

.user-settings .btn {
    margin-right: 5px;
}

.user-settings .btn:last-child {
    margin-right: 0;
}

.btn-update {
    color: orange;
}

.btn-delete {
    color: red;
}

.btn-add {
    position: absolute;
    top: 0;
    right: 35px;
    color: green;
}