.login-form {
    width: 300px;
    margin: 1% auto 0;
    padding: 1%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px silver;
    border-radius: 4px;
}

.login-form input {
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.login-form input:last-child {
    margin-bottom: 0;
}

.login-form input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
}
